<div class="banners">
  <a href="https://clinicalpro.co/<%= url1 %>"><img class="feature" src="<%= feature1 %>" style="width: 45%; max-width: 200px; padding: 5px 5px 5px 0;"></a>
  <a href="https://clinicalpro.co/<%= url2 %>"><img class="feature" src="<%= feature2 %>" style="width: 45%; max-width: 200px; padding: 5px;"></a>
</div>
