<div class="banners">
  <img class="feature" src="<%= feature1 %>" style="width: 45%; max-width: 200px; padding: 5px;">
  <img class="feature" src="<%= feature2 %>" style="width: 45%; max-width: 200px; padding: 5px;">
</div>
