<%- include("partials/header") -%>



    <form class="signature-form" action="/generate" method="POST">
        <h3>Signature Details</h3>
        <div class="form-group">
            <select id="brandSelect" class="form-control" name="brandSelect">
                <option selected>ClinicalPRO</option>
                <option>Clinical Skincare</option>
                <option>Clinical Therapies Laser Institute</option>
                <option>Beauty-Thru-Nature</option>
              </select>
          </div>
        <div class="form-group">
            <label for="fName">First Name:</label>
            <input type="text" class="form-control" name="fName" placeholder="First Name" required>
        </div>
        <div class="form-group">
            <label for="lName">Last Name:</label>
            <input type="text" class="form-control" name="lName" placeholder="Last Name" required>
        </div>
        <div class="form-group">
            <label for="title">Job Title:</label>
            <input type="text" class="form-control" name="title" placeholder="Job Title" required>
        </div>
        <div class="form-group">
            <label for="mobile">Mobile:</label>
            <input type="text" class="form-control" name="mobile" placeholder="Mobile">
        </div>
        <div class="form-group">
            <label for="imageId">Image ID:</label>
            <input type="text" class="form-control" name="imageId" placeholder="Image ID">
            <small class="form-text text-muted">Your Image ID can be found in the URL of your Google Docs 'share link'. Look for the ?id= paramater in the link.</small>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Generate Signature</button>
    </form>

<%- include("partials/footer") -%>